.content-container {
  max-width: 1140px;
  margin: var(--spacing-3xl) auto;
}

.content-container__next-section {
  margin-top: 128px;
}

header.content-container {
  margin-top: 0;
}

footer.content-container {
  margin-bottom: 0;
}
