.advantage_item {
    flex: 0 1 calc(33.333% - 14px);
    min-width: 250px;
    box-sizing: border-box;

    background-color: var(--color-surface);
    border: 2px solid var(--color-cobalt);
}

.advantage_item__content {
    padding: 19px 0px 14px 14px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 100%;
    box-sizing: border-box;
}

.advantage_item__content .h3_main {
    overflow-wrap: break-word;
    word-wrap: break-word;
    /* hyphens: auto; */
    max-width: 100%;
}

.advantage_item__image {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    /* display: none; */
}

.advantage_item:nth-child(1) .advantage_item__image {
    margin-top: -62px;
}

.advantage_item:nth-child(2) .advantage_item__image {
    margin-top: -262px;
}

.advantage_item:nth-child(3) .advantage_item__image {
    margin-top: -362px;
}

.advantage_item__image_container {
    width: 100%;
    height: 60px;
    overflow: hidden;
    border-bottom: 1px solid var(--color-cobalt);
}

.advantage_item__content .text_body {
    margin-top: 10px;
}