.button {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-xs);
  box-sizing: border-box;

  border: none;

  border-radius: var(--radius-card);
  outline: none;

  font-family: var(--font-ui);
  font-weight: var(--button-weight);
  font-size: var(--button-size);
  font-style: normal;
  line-height: var(--button-line);
  letter-spacing: var(--button-spacing);

  transition: background-color 0.2s ease, border-color 0.2s ease, box-shadow 0.2s ease;

  cursor: pointer;
}

.button--size-m {
  height: 44px;
  padding: 14px var(--spacing-m);
}

.button--size-l {
  height: 52px;
  padding: var(--spacing-m) 20px;
}

.button--primary {
  color: var(--color-surface);
  background: var(--color-cobalt);
}

.button--primary:hover {
  box-shadow: var(--shadow-button);
  background: rgba(30, 64, 255, 0.8);
}

.button--primary:focus {
  box-shadow: var(--shadow-button);
  outline: var(--border-medium) solid var(--color-cobalt);
  outline-offset: 2px;
  background: rgba(30, 64, 255, 0.8);
}

.button--secondary {
  border: var(--border-thin) solid var(--color-cobalt);
  color: var(--color-cobalt);
  background: var(--color-surface);
}

.button--secondary:hover {
  border: var(--border-thin) solid var(--color-cobalt);
  box-shadow: var(--shadow-button);
  background: rgba(30, 64, 255, 0.1);
}

.button--secondary:focus {
  border: var(--border-thin) solid var(--color-cobalt);
  box-shadow: var(--shadow-button);
  outline: var(--border-medium) solid var(--color-cobalt);
  outline-offset: 2px;
  background: rgba(30, 64, 255, 0.1);
}

.link-as-button {
  text-decoration: none;
}