.short-info-list__container {
  display: flex;
  flex-direction: row;
  gap: 0;
  box-sizing: border-box;
}

.short-info-list__item {
  box-sizing: border-box;
  border: var(--border-thin) solid var(--color-paper);
  border-right: none;
}

.short-info-list__item:last-child {
  box-sizing: border-box;
  border-right: 1px solid var(--color-paper);
}
