html {
  scroll-behavior: smooth;
}

.coffe-types-list {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-xl);
  margin-top: var(--spacing-3xl);
  border-bottom: var(--border-thin) solid var(--color-paper);
  padding: 20px 0;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-l);
  margin-top: var(--spacing-l);
}

.coffe-types-list__item:hover {
  color: var(--color-cobalt);
  text-decoration: underline;
}

.product-list--menu .product-card {
  flex: 0 1 100%;
}

.product-card__image-container--menu {
  padding-top: 20px;
  padding-bottom: 43px;
}

.product-card__image-container--menu img {
  width: 310px;
  height: 289px;
}

@media (min-width: 704px) and (max-width: 1439px) {
  .product-list--menu .product-card {
    flex: 0 1 calc(50% - 10.5px);
    max-width: calc(50% - 12px);
    height: auto;
  }
}

@media (min-width: 1440px) {
  .product-list--menu .product-card {
    flex: 0 1 calc(33.333% - 16px);
  }
}

@media (min-width: 328px) and (max-width: 703px) {
  .product-list--menu .product-card {
    flex: 0 1 100%;
  }
}
