.promotions-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 432px;
  margin-top: var(--spacing-l);
}

.promotions-carousel__slides {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: var(--border-thin) solid var(--color-cobalt);
}

.promotions-carousel__slide {
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.promotions-carousel__slide-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: linear-gradient(to right, color-mix(in srgb, var(--color-paper) 30%, transparent) 1px, transparent 1px),
    linear-gradient(to bottom, color-mix(in srgb, var(--color-paper) 30%, transparent) 1px, transparent 1px);
  background-size: var(--s-8) var(--s-8);
}

.promotions-carousel__slide--active {
  display: flex;
}

.promotions-carousel__image {
  position: relative;
  width: 650px;
  min-height: 304px;
  object-fit: contain;
}

.promotions-carousel__slide--active .h3-main {
  width: 100%;
  border-top: var(--border-thin) solid var(--color-paper);
  padding-top: var(--spacing-s);
}

.promotions-carousel__slide .text-body {
  margin-top: var(--spacing-s);
}

.promotions-carousel__nav {
  z-index: 2;
  border: none;
  font-size: var(--s-24);
  background: none;
  cursor: pointer;
}

.promotions-carousel__nav--prev {
  left: var(--s-20);
}

.promotions-carousel__nav--next {
  right: var(--s-20);
}

.promotions-carousel__nav--next img {
  transform: scaleX(-1);
}

.promotions-carousel__indicators {
  display: flex;
  justify-content: center;
  gap: var(--spacing-xs);
  margin: var(--spacing-s) 0 var(--s-28) 0;
}

.promotions-carousel__indicator {
  width: var(--s-40);
  height: var(--s-8);
  border: var(--border-thin) solid var(--color-cobalt);
  padding: 0;
  opacity: 0.2;
  background: transparent;
  background: var(--color-cobalt);
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.promotions-carousel__indicator--active {
  border-color: var(--color-cobalt);
  opacity: 1;
  background: var(--color-cobalt);
}

@media (max-width: 768px) {
  .promotions-carousel__nav {
    display: none;
  }

  .promotions-container {
    width: 100%;
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
  }

  .promotions-carousel__slides {
    box-sizing: border-box;
  }

  .promotions-carousel__slide-image-container {
    box-sizing: border-box;
    width: 100%;
  }

  .promotions-carousel__image {
    width: 100%;
  }
}
