@import url('../normalize.css');
@import url('../fonts.css');
@import url('../variables.css');
@import url('../common.css');
@import url('../components/text.css');
@import url('../pages/promotions.css');
@import url('../components/header.css');
@import url('../components/footer.css');
