@import url('../normalize.css');
@import url('../fonts.css');
@import url('../variables.css');
@import url('../components/text.css');
@import url('../components/buttons.css');
@import url('../common.css');
@import url('../components/header.css');
@import url('../components/footer.css');
@import url('../components/product_card.css');
@import url('../components/item_list.css');
@import url('../pages/menu.css');
