@import url('../normalize.css');
@import url('../fonts.css');
@import url('../variables.css');
@import url('../components/text.css');
@import url('../common.css');
@import url('../components/header.css');
@import url('../components/buttons.css');
@import url('../components/item_list.css');
@import url('../components/advantage_cards.css');
@import url('../components/product_card.css');
@import url('../pages/home.css');
@import url('../components/accordion.css');
@import url('../components/footer.css');
